In [1]:
# libraries
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
# import data sets
train = pd.read_csv('./restaurant-revenue-prediction/train.csv')
test = pd.read_csv('./restaurant-revenue-prediction/test.csv')

In [4]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [5]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [8]:
# revenue is the target feature try to predict
target = train[['revenue']]
train.drop('revenue',
           axis=1,
           inplace=True)

In [10]:
target.columns, train.columns

(Index(['revenue'], dtype='object'),
 Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
        'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
        'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
        'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
        'P36', 'P37'],
       dtype='object'))

In [17]:
train.dtypes

Id              int64
Open Date      object
City           object
City Group     object
Type           object
P1              int64
P2            float64
P3            float64
P4            float64
P5              int64
P6              int64
P7              int64
P8              int64
P9              int64
P10             int64
P11             int64
P12             int64
P13           float64
P14             int64
P15             int64
P16             int64
P17             int64
P18             int64
P19             int64
P20             int64
P21             int64
P22             int64
P23             int64
P24             int64
P25             int64
P26           float64
P27           float64
P28           float64
P29           float64
P30             int64
P31             int64
P32             int64
P33             int64
P34             int64
P35             int64
P36             int64
P37             int64
dtype: object

In [11]:
# data quality consideration
masked_train_df = pd.isna(train)
masked_train_df

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
133,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
134,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
136,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
# check nullity feature wise
masked_train_df.aggregate(lambda x: x.sum())

Id            0
Open Date     0
City          0
City Group    0
Type          0
P1            0
P2            0
P3            0
P4            0
P5            0
P6            0
P7            0
P8            0
P9            0
P10           0
P11           0
P12           0
P13           0
P14           0
P15           0
P16           0
P17           0
P18           0
P19           0
P20           0
P21           0
P22           0
P23           0
P24           0
P25           0
P26           0
P27           0
P28           0
P29           0
P30           0
P31           0
P32           0
P33           0
P34           0
P35           0
P36           0
P37           0
dtype: int64

In [20]:
train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Id,137.0,NaN,NaN,NaN,68.000000,39.692569,0.0,34.0,68.0,102.0,136.0
Open Date,137,134,01/07/2000,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,137,34,İstanbul,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City Group,137,2,Big Cities,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,137,3,FC,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P1,137.0,NaN,NaN,NaN,4.014599,2.910391,1.0,2.0,3.0,4.0,12.0
P2,137.0,NaN,NaN,NaN,4.408759,1.514900,1.0,4.0,5.0,5.0,7.5
P3,137.0,NaN,NaN,NaN,4.317518,1.032337,0.0,4.0,4.0,5.0,7.5
P4,137.0,NaN,NaN,NaN,4.372263,1.016462,3.0,4.0,4.0,5.0,7.5
P5,137.0,NaN,NaN,NaN,2.007299,1.209620,1.0,1.0,2.0,2.0,8.0
P6,137.0,NaN,NaN,NaN,3.357664,2.134235,1.0,2.0,3.0,4.0,10.0
P7,137.0,NaN,NaN,NaN,5.423358,2.296809,1.0,5.0,5.0,5.0,10.0
P8,137.0,NaN,NaN,NaN,5.153285,1.858567,1.0,4.0,5.0,5.0,10.0
P9,137.0,NaN,NaN,NaN,5.445255,1.834793,4.0,4.0,5.0,5.0,10.0
P10,137.0,NaN,NaN,NaN,5.489051,1.847561,4.0,5.0,5.0,5.0,10.0
P11,137.0,NaN,NaN,NaN,3.262774,1.910767,1.0,2.0,3.0,4.0,10.0
P12,137.0,NaN,NaN,NaN,5.299270,1.941668,2.0,4.0,5.0,5.0,10.0
P13,137.0,NaN,NaN,NaN,5.080292,1.036527,3.0,5.0,5.0,5.0,7.5
P14,137.0,NaN,NaN,NaN,1.416058,2.729583,0.0,0.0,0.0,2.0,15.0
P15,137.0,NaN,NaN,NaN,1.386861,2.398677,0.0,0.0,0.0,2.0,10.0
P16,137.0,NaN,NaN,NaN,1.941606,3.505807,0.0,0.0,0.0,3.0,15.0
P17,137.0,NaN,NaN,NaN,1.036496,2.030679,0.0,0.0,0.0,1.0,15.0
P18,137.0,NaN,NaN,NaN,1.941606,3.300549,0.0,0.0,0.0,4.0,12.0
P19,137.0,NaN,NaN,NaN,4.905109,5.604467,1.0,2.0,3.0,5.0,25.0
P20,137.0,NaN,NaN,NaN,4.547445,3.708041,1.0,2.0,4.0,5.0,15.0
P21,137.0,NaN,NaN,NaN,2.270073,2.052630,1.0,1.0,1.0,3.0,15.0
P22,137.0,NaN,NaN,NaN,2.226277,1.230690,1.0,1.0,2.0,3.0,5.0
P23,137.0,NaN,NaN,NaN,3.423358,4.559609,1.0,1.0,2.0,5.0,25.0
P24,137.0,NaN,NaN,NaN,1.372263,2.304112,0.0,0.0,0.0,2.0,10.0
P25,137.0,NaN,NaN,NaN,1.211679,2.133179,0.0,0.0,0.0,2.0,10.0
P26,137.0,NaN,NaN,NaN,1.470803,2.612024,0.0,0.0,0.0,2.5,12.5
P27,137.0,NaN,NaN,NaN,1.145985,2.067039,0.0,0.0,0.0,2.0,12.5
P28,137.0,NaN,NaN,NaN,3.222628,2.308806,1.0,2.0,2.5,4.0,12.5
P29,137.0,NaN,NaN,NaN,3.135036,1.680887,0.0,2.5,3.0,3.0,7.5
P30,137.0,NaN,NaN,NaN,2.729927,5.536647,0.0,0.0,0.0,4.0,25.0
P31,137.0,NaN,NaN,NaN,1.941606,3.512093,0.0,0.0,0.0,3.0,15.0
P32,137.0,NaN,NaN,NaN,2.525547,5.230117,0.0,0.0,0.0,3.0,25.0
P33,137.0,NaN,NaN,NaN,1.138686,1.698540,0.0,0.0,0.0,2.0,6.0
P34,137.0,NaN,NaN,NaN,2.489051,5.165093,0.0,0.0,0.0,3.0,24.0
P35,137.0,NaN,NaN,NaN,2.029197,3.436272,0.0,0.0,0.0,4.0,15.0
P36,137.0,NaN,NaN,NaN,2.211679,4.168211,0.0,0.0,0.0,3.0,20.0
P37,137.0,NaN,NaN,NaN,1.116788,1.790768,0.0,0.0,0.0,2.0,8.0

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
dtypes: float64(8), int64(30), object(4)
memory usage: 45.1+ KB

In [24]:
train.std()

Id     39.692569
P1      2.910391
P2      1.514900
P3      1.032337
P4      1.016462
P5      1.209620
P6      2.134235
P7      2.296809
P8      1.858567
P9      1.834793
P10     1.847561
P11     1.910767
P12     1.941668
P13     1.036527
P14     2.729583
P15     2.398677
P16     3.505807
P17     2.030679
P18     3.300549
P19     5.604467
P20     3.708041
P21     2.052630
P22     1.230690
P23     4.559609
P24     2.304112
P25     2.133179
P26     2.612024
P27     2.067039
P28     2.308806
P29     1.680887
P30     5.536647
P31     3.512093
P32     5.230117
P33     1.698540
P34     5.165093
P35     3.436272
P36     4.168211
P37     1.790768
dtype: float64